h1{
    text-align: center;
}
.masonry-section .filters {
  margin: auto;
  padding-top: 3.5rem;
  flex-wrap: wrap;
  justify-content: center; }
  .masonry-section .filters li a {
      text-decoration: none;
    color: #0e489f;
    border: 1px solid #0e489f;
    border-radius: 10px;
    padding: .45rem .75rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
    width: 224px;
    margin: 1px;
    transition: all 0.2s ease-in-out; }
    .masonry-section .filters li a:hover {
      background: linear-gradient(80deg, #0d479d 0%, #0062ff 100%);
      color: #fff; }
  .masonry-section .filters a.is-checked {
    background: linear-gradient(80deg, #0d479d 0%, #0062ff 100%);
    color: #fff; }

.masonry-section .portfolio-item {
  padding-top: 3.5rem; }

.masonry-section .portfolio-item img {
  width: 100%; }


